# Check Inserted and Copied data

In [28]:
import pandas as pd
import boto3
import json
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DB_USER       = config.get('CLUSTER','DB_USER')
DB_PASSWORD   = config.get('CLUSTER','DB_PASSWORD')
HOST          = config.get('CLUSTER','HOST')
DB_PORT       = config.get('CLUSTER','DB_PORT')
DB_NAME       = config.get('CLUSTER','DB_NAME')

In [30]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT,DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://udct_dwhuser:Passw0rd@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project

'Connected: udct_dwhuser@udct_project'

## 1 - events table

In [31]:
%%sql
SELECT COUNT(*)
FROM events
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(8056,)]

In [32]:
%%sql
SELECT *
FROM events
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[(1555, 'Static-X', 'Logged In', 'Adelyn', 'F', 0, 'Jordan', Decimal('183'), 'free', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1540130971796', 6, 'Dirthouse (Album Version)', 200, 1541691894796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 7),
 (1311, 'Radiohead', 'Logged In', 'Ayleen', 'F', 0, 'Wise', Decimal('130'), 'free', 'Columbia, SC', 'PUT', 'NextSong', '1541085793796', 70, 'Pop Is Dead', 200, 1541183813796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71),
 (1319, 'Scouting for Girls', 'Logged In', 'Ayleen', 'F', 1, 'Wise', Decimal('201'), 'free', 'Columbia, SC', 'PUT', 'NextSong', '1541085793796', 70, 'The Mountains Of Navaho', 200, 1541183943796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71),
 (1327, 'Alliance Ethnik', 'Logged In', 'Ayleen', 'F', 2, 'Wise', Decimal('195'), 'free', 'Columbia, SC', 'PUT', 'NextSong', '1541085793796', 70, 'SinceritÃ\x83Â© Et Jalousie', 200, 1541184144796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71),
 (1335, 'OutKast', 'Logged In', 'Ayleen', 'F', 3, 'Wise', Decimal('227'), 'free', 'Columbia, SC', 'PUT', 'NextSong', '1541085793796', 70, 'Ova Da Wudz', 200, 1541184339796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71)]

## 2 - song_data table

In [33]:
%%sql
SELECT COUNT(*)
FROM song_data
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(14896,)]

In [34]:
%%sql
SELECT *
FROM song_data
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[(1, 'AR01G6G1187B9892EF', None, None, '', 'Tonino Carotone', 'SOITACD12A8C1371CD', 'Pecatore (Album Version)', Decimal('167'), 0),
 (1, 'AR01G6G1187B9892EF', None, None, '', 'Tonino Carotone', 'SOKRSCD12AB01822B6', 'Frenomotor', Decimal('191'), 2008),
 (1, 'AR02IU11187FB513F2', None, None, 'New York, NY', 'Tito Puente', 'SOKCUMS12AB018D4A0', 'Mambo Tipico', Decimal('180'), 1993),
 (1, 'AR02IU11187FB513F2', None, None, 'New York, NY', 'Tito Puente', 'SOQBKET12A8C142222', "Tito's Odyssey", Decimal('444'), 0),
 (1, 'AR02IU11187FB513F2', None, None, 'New York, NY', 'Tito Puente', 'SOJZTXJ12AB01845FB', 'China', Decimal('295'), 1972)]

## 3 - songplays table

In [35]:
%%sql
SELECT COUNT(*)
FROM songplays
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(9957,)]

In [36]:
%%sql
SELECT *
FROM songplays
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[(12, datetime.datetime(2018, 11, 7, 6, 41, 58), 14, 'free', 'SOVQSYW12A6701FBA7', 'ARPVCLJ1187B9AC403', 162, 'Red Bluff, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (30, datetime.datetime(2018, 11, 7, 6, 41, 58), 14, 'free', 'SOQVCGU12A6310E1E6', 'ARPVCLJ1187B9AC403', 162, 'Red Bluff, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (51, datetime.datetime(2018, 11, 12, 19, 49, 24), 32, 'free', 'SOOJMEN12AB017B79F', 'ARTIGQM1187B98D1F2', 512, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (93, datetime.datetime(2018, 11, 17, 15, 0, 44), 32, 'free', 'SOBFMCW12A8C140DA6', 'AR9LMA81187FB4C9B0', 646, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (104, datetime.datetime(2018, 11, 17, 15, 0, 44), 32, 'free', 'SOYHCYU12A6701FBC2', 'AR9LMA81187FB4C9B0', 646, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

## 4 - users table

In [39]:
%%sql
SELECT COUNT(*)
FROM users
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(104,)]

In [40]:
%%sql
SELECT *
FROM users
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[(3, 'Isaac', 'Valdez', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (19, 'Zachary', 'Thomas', 'M', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free')]

## 5 - songs table

In [41]:
%%sql
SELECT COUNT(*)
FROM songs
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(14896,)]

In [42]:
%%sql
SELECT *
FROM songs
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, Decimal('101')),
 ('SOAAUGN12AB01830B6', "Don't Wanna Suffer (Carbon Copy)", 'ARVC9W21187B99354B', 2003, Decimal('180')),
 ('SOABFQI12A58A7D162', 'Another World (Album Version)', 'AR9B5JX1187FB55D84', 1977, Decimal('494')),
 ('SOABROK12A6D4F59E5', 'Two Drummers (LP Version)', 'ARINUM91187B9A8CDE', 2004, Decimal('68')),
 ('SOACUIU12A6D4F715B', 'Going Under', 'ARYML1P1187B9AF39B', 1981, Decimal('205'))]

## 6 - artists table

In [44]:
%%sql
SELECT COUNT(*)
FROM artists
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(10025,)]

In [45]:
%%sql
SELECT *
FROM artists
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR02IU11187FB513F2', 'Tito Puente', 'New York, NY', None, None),
 ('AR02LMQ1187B992AC9', 'The Classic Crime', 'Seattle, WA', Decimal('47'), Decimal('-122')),
 ('AR03BDP1187FB5B324', 'Britney Spears', 'Kentwood, LA; Los Angeles, CA', Decimal('34'), Decimal('-118')),
 ('AR048JZ1187B9AEB85', 'Yellowcard', 'Jacksonville, FL', Decimal('30'), Decimal('-81'))]

## 7 - time table

In [46]:
%%sql
SELECT COUNT(*)
FROM time
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
1 rows affected.

[(6813,)]

In [47]:
%%sql
SELECT *
FROM time
limit 5
;

 * postgresql://udct_dwhuser:***@udct-dwhcluster.ch4smckql5wy.us-west-2.redshift.amazonaws.com:5439/udct_project
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 52, 5), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 2, 1, 25, 34), 1, 2, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 2, 3, 5, 57), 3, 2, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 2, 9, 57, 56), 9, 2, 44, 11, 2018, 44)]